//===
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
//===

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  border: none;
}

@import "../../utiles/vars";

$transition: 0.05s ease;

@keyframes JokeFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.JokeOverlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  .YouSureJoke {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    height: 200px;
    width: 28vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;

    border: none;
    border-radius: 30px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;

    animation: JokeFadeIn 0.4s ease-out;
    .data-container {
      height: 84px;
      width: 265px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .YouSureTextJoke {
        width: 265px;
        height: 20px;
        color: #52555f;
        display: flex;

        justify-content: center;
      }
      .YouSureButtons {
        button {
          height: 44px;
          width: 125px;
          box-shadow: none;
        }
        ._no-btn {
          background-color: transparent;

          border-radius: 16px;
          border: 2px solid #f5f6fb;

          &:hover {
            transition: $transition;

            background-color: $grey-hover;
            border: none;
          }
          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .YouSureJoke {
    width: 40vw !important;
  }
}

@media (max-width: 420px) {
  .YouSureJoke {
    width: 100vw !important;
  }
}
