.YouSureModal{
    width: 400px;
    height:200px ;
    .YouSureTextModal{
     width: 130px;
    height:20px ;
    }
    .YouSureYesModal{
     width: 120px;
    height:40px ;
    }
   .YouSureNoModal{
  width: 120px;
    height:40px ;
    }    

}