//===
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "../../utiles/vars";

//===

@keyframes ReportAnimation {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  .tr-container {
    width: 329px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  ._category-li {
    margin-right: 32px;
  }
  // background-image: url(./svg/hero.svg);
  // background-repeat: no-repeat;
  // background-size: contain;

  .report-container {
    width: 1060px;
    height: 620px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: start;

    margin: 0 auto;

    .report-nav-container {
      width: 276px;
      height: 40px;

      display: flex;
      flex-flow: row-reverse;
      justify-content: start;

      .finance {
        width: 138px;
        height: 40px;

        border-radius: 24px 24px 0 0;

        background-color: $main-color;
        box-shadow: 10px -11px 20px -14px rgba(7, 11, 15, 0.5);

        &:hover {
          background-color: lighten($main-color, 5%);
        }

        &._active {
          background-color: #fefefe;
          color: $orange-color;
        }
      }
    }

    .cost-container {
      width: 1060px;
      height: 579px;

      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center;

      border-radius: 0 24px 24px 24px;

      box-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);

      background-color: #fff;

      .filter-container {
        width: 1020px;
        height: 44px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .filter-container-adaptive {
          width: 728px;

          display: flex;
          flex-flow: row wrap;

          align-items: center;

          .date-wrapper {
            width: 98px;
            height: 44px;
            padding-top: 2px;

            display: flex;
            flex-flow: row wrap;
            justify-content: end;
            padding-left: 20px;
            align-items: center;

            border: none;
            background-color: transparent;

            color: $main-text-color;

            font-family: Roboto;
            font-size: 12px;
            font-weight: 900;

            background-image: url(./svg/calendar-icon.svg);
            background-repeat: no-repeat;
            background-position: 0 13.8px;

            .choose-date {
              position: relative;
              top: 0;
              left: 0;

              width: 100%;
              padding-left: 35px;
              background: transparent;
              border: none;
              font-weight: 900;
              font-size: 12px;
              font-family: Roboto;
              color: #52555f;

              &::-webkit-calendar-picker-indicator {
                position: absolute;
                opacity: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                cursor: pointer;
              }
            }
          }

          .bill-container {
            width: 600px;
            height: 44px;

            // overflow: hidden;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            border: $main-color 2px solid;
            border-radius: 16px 16px 16px 0px;

            input {
              background-color: transparent;
              color: #c7ccdc;
              border: none;

              &:focus {
                background-color: $grey-hover;
                color: $main-text-color;
              }

              &::placeholder {
                color: #c7ccdc;
              }
            }

            .product-description {
              width: 250px;
              padding-left: 20px;
              border-right: $main-color 2px solid;

              border-radius: 15px 0 0 0px;
            }

            .amount-input {
              width: 92px;
              height: 44px;

              border-radius: 0 15px 15px 0;

              color: $main-color;

              display: flex;
              flex-flow: row wrap;

              text-align: end;
              align-items: center;

              padding-right: 50px;

              background-image: url(./svg/calculator-icon.svg);
              background-repeat: no-repeat;
              background-position: 106px 12px;

              border-left: $main-color 2px solid;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              appearance: none;
            }
          }
        }
        .btn-operators-container {
          width: 265px;
          height: 44px;

          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          button {
            width: 125px;

            box-shadow: none;
          }

          ._clear-btn {
            background-color: transparent;

            border-radius: 16px;
            border: 2px solid #f5f6fb;

            &:hover {
              transition: $transition;

              background-color: $grey-hover;
              border: none;
            }
            &:active {
              transform: translateY(2px);
            }
          }
        }
      }
    }

    .reoprt-list-container {
      width: 1020px;
      height: 382px;

      display: flex;
      flex-flow: row wrap;
      align-items: start;
      justify-content: space-between;

      .bill-table {
        overflow: hidden;
        width: 760px;
        height: 403px;

        border: $main-color 2px solid;
        border-radius: 20px 20px 0 0;

        display: flex;
        flex-flow: column wrap;

        box-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);
        // background-color: greenyellow;

        .thead-div {
          background-color: $main-color;

          height: 38px;
          width: 760px;

          ul {
            height: 38px;
            width: 100%;

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;

            font-family: Roboto;
            font-size: 12px;
            font-weight: bold;
            text-align: center;

            padding-left: 10px;
            padding-right: 10px;

            li {
              height: 14px;
              margin: 10px;
            }
          }
        }
        ._data-li {
          width: 104px;
          text-align: left;
        }

        ._description-li {
          height: 14px;

          width: 184px;
          text-align: left;

          overflow-x: scroll;
          scrollbar-width: none;
        }

        ._category-li {
          width: 172px;
          text-align: center;
        }

        ._amount-li {
          width: 104px;
          text-align: right;
        }

        ._delete-li {
          width: 96px;
        }

        .tbody-div {
          max-height: 344px;
          width: 760px;

          overflow-y: auto;
          overflow-x: hidden;

          display: block;

          scrollbar-width: thin;
          scrollbar-color: $orange-color transparent;

          .day-report {
            animation: ReportAnimation 0.5s ease-out;

            &:hover {
              scale: 1.02;
            }
          }

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $main-color;
            border-radius: 4px;
          }
          &::-webkit-scrollbar-button {
            display: none;
            height: 0;
            width: 0;
          }

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 38px;
            width: 100%;

            border-bottom: 2px solid $main-color;
            padding: 0 10px;

            overflow: hidden;

            li {
              height: 14px;
              margin: 10px;
              color: $main-text-color;
              font-family: Roboto;
              font-size: 12px;
              font-weight: 400;
            }

            ._amount-li {
              font-weight: 700;

              overflow-x: scroll;
              scrollbar-width: none;

              &.income {
                color: $correct-color;
              }

              &.expense {
                color: $error-color;
              }
            }

            ._delete-li {
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;

              .delete-btn-icon {
                width: 32px;
                height: 32px;
                padding: 7.3px;

                &:hover {
                  background-color: $grey-hover;
                }

                &:active {
                  transform: translateY(2px);
                }
              }
            }
          }
        }
      }

      //Аня

      .reduction {
        background-color: $main-color;
        border-radius: 20px 20px 20px 0;

        height: 270px;
        width: 230px;

        overflow: hidden;
      }

      .reduction-title {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 12px;

        color: black;

        padding: 15px;

        border-bottom: 2px solid #fff;
      }

      .reduction-list {
        height: 40px;

        display: flex;
        align-items: center;

        padding: 0 20px;

        border-bottom: 2px solid #fff;

        li {
          width: 100%;

          display: flex;
          justify-content: space-between;

          span {
            width: 84px;

            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            color: $main-text-color;
          }
          ._mounth-amount-li {
            text-align: end;
            overflow-x: scroll;
            scrollbar-width: none;
          }
        }
      }
    }

    &::selection {
      background-color: $orange-color;
      color: #fff;
    }
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  body {
    width: 100vw;

    .report-container {
      width: 665px;
      height: 666px;

      .cost-container {
        width: 665px;
        height: 626px;

        display: flex;
        flex-flow: column nowrap;

        box-shadow: none;

        .filter-container {
          width: 604px;
          height: 116px;

          display: flex;
          flex-flow: column wrap;
          align-items: center;
          justify-content: space-between;

          .filter-container-adaptive {
            width: 100%;
            height: 40px;

            .date-wrapper {
              width: 104px;
              height: 20px;

              background-position: 0 1px;
            }
            .bill-container {
              width: 467px;
              height: 40px;
              margin: 0;
              padding: 0;

              .product-description {
                width: 192px;
              }

              .amount-input {
                width: 84px;
                height: 40px;
              }
            }
          }
        }

        .reoprt-list-container {
          width: 605px;
          height: 382px;

          .bill-table {
            width: 100%;
            height: 382px;

            .thead-div {
              width: 100%;
            }
            .tbody-div {
              width: 100%;
              height: 344px;

              .tr-container {
                width: 245px;

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;

                ._data-li {
                  width: 64px;
                  text-align: left;
                }

                ._description-li {
                  width: 138px;
                }
              }
            }

            ._data-li {
              width: 64px;
              text-align: left;
            }

            ._description-li {
              width: 138px;
            }

            ._category-li {
              width: 124px;
            }

            ._amount-li {
              width: 84px;
            }

            ._delete-li {
              width: 84px;
            }
          }

          .reduction {
            position: relative;

            top: 80px;
            left: 0;

            width: 230px;
            max-height: 278px;

            overflow-x: hidden;

            border: red 1px solid;
            margin: 0;

            .reduction-list {
              display: flex;
              justify-content: space-between;

              padding: 0 20px 0 20px;
              margin: 0;

              li {
                font-size: 12px;
              }
            }

            .reduction-title {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  body {
    width: 320px;
    margin: 0;
    padding: 0;

    .report-container {
      position: relative;

      width: 320px;
      height: 100%;

      .report-nav-container {
        position: fixed;
        z-index: 777;

        left: 0;
        bottom: 0;

        width: 100vw;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        button:active {
          .filter-container {
            display: block;
            ._hidden {
              display: block;
            }
          }
        }

        .finance {
          width: 49.5%;

          background-color: $main-color;
          border-radius: 0;

          &:last-child {
            border-left: 1px solid #fff;
          }
          &:hover {
            background-color: lighten($main-color, 5%);
          }

          &._active {
            background-color: $orange-color;
            color: #fff;
          }
        }
      }

      .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100%;

        z-index: 4000;
        background-color: #fff;

        overflow-y: hidden;

        .filter-container {
          width: 100vw;
          height: 257px;

          padding-top: 56px;
          background-color: $main-color;

          border-radius: 0 0 0 140px;

          .filter-container-adaptive {
            height: 158px;
            width: 282px;

            display: flex;
            flex-flow: column wrap;

            margin: 0 auto;

            justify-content: space-between;

            .bill-container {
              width: 100%;
              height: 84px;

              border: 2px solid #fff;
              border-radius: 20px 0;

              font-family: Roboto;
              font-size: 12px;
              font-style: normal;
              font-weight: 200;

              // overflow: hidden;

              input {
                height: 50%;
                width: calc(100% - 20px);

                padding-left: 20px;

                background-color: transparent;
                color: #c7ccdc;

                border-bottom: 2px solid #fff;
                border-radius: 20px 0 0 0;

                &:focus {
                  background-color: $grey-hover;
                  color: $main-text-color;
                }

                &::placeholder {
                  color: #c7ccdc;
                }
              }
            }

            .input-container {
              width: 180px;
              height: 44px;

              border: 2px solid #fff;
              border-radius: 30px;

              margin: 0 auto;

              display: flex;

              align-items: center;

              .amount-input {
                width: calc(120px - 45px);
                height: 100%;

                padding-left: 45px;

                border-right: 2px solid #fff;

                background-color: transparent;
                color: #000;
              }

              svg {
                padding-left: 18px;
              }
            }
          }

          margin-bottom: 40px;
        }
        .btn-operators-container {
          width: 265px;
          height: 44px;

          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;

          margin: 0 auto;

          button {
            width: 48%;
            height: 44px;
          }
        }
      }
      margin: 0;

      .cost-container {
        width: 100vw;
        height: auto;

        margin: 0;
        background-color: transparent;
        box-shadow: none;

        .filter-container {
          width: 100%;
          height: 40px;

          .filter-container-adaptive {
            width: 100%;

            display: flex;
            justify-content: center;

            .bill-container {
              display: flex;
            }
            ._hidden {
              display: none !important;
            }
          }
          width: 0;
          height: 0;
          ._hidden {
            display: none;
          }
        }

        .reoprt-list-container {
          width: 100vw;
          min-height: 42px;

          margin-top: 100px;

          background-color: transparent;

          .bill-table {
            width: 100vw;

            border-radius: 0;
            background-color: #fff;
            box-shadow: none;

            margin: 0;

            .thead-div {
              display: none;
              width: 0;
              height: 0;
            }

            .tbody-div {
              width: 100vw;

              .tr-container {
                width: 45px;

                display: flex;
                flex-flow: column-reverse nowrap;
                justify-content: space-between;

                ._data-li {
                  margin: 2px;
                  width: 45px;
                  text-align: left;
                }

                ._description-li {
                  margin: 2px;
                  width: 45px;
                }
              }

              ._category-li {
                width: 124px;
              }

              ._amount-li {
                width: 84px;
              }

              ._delete-li {
                width: 84px;
              }
            }
          }
          .reduction {
            display: none;
          }
        }
      }
    }
  }
}
