.login-container {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: #f5f6fb;
	position: relative;

	.login-container-logo {
		position: fixed;
		top: 12px;
		left: 26px;
		width: 99px;
	}

	.login-container-background {
		position: fixed;
		width: 1329;
		top: 70px;
		left: 10px;
	}

	.login-container-background-second {
		position: fixed;
		width: 198px;
		bottom: 50px;
		left: 230px;
	}

	.login-title-container {
		width: 385px;
		height: 139px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1;
		h1 {
			color: #000000;
			font-family: Roboto;
			font-weight: 900;
			font-size: 102px;
			line-height: 100%;
			letter-spacing: 0%;
		}

		h3 {
			color: #52555f;
			font-family: Roboto;
			font-weight: 700;
			font-size: 16px;
			line-height: 100%;
			letter-spacing: 18%;
			text-transform: uppercase;

			margin-left: 72px;
		}
	}

	.login-form-container {
		width: 436px;
		height: 535px;
		border-radius: 30px;
		background-color: #ffffff;

		box-shadow: 0px 10px 60px 0px #aab2c533;

		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		.login-form {
			width: 265px;
			height: 432px;

			.google-login {
				width: 265px;
				height: 88px;

				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
				margin-bottom: 30px;
				span {
					color: #52555f;
					font-family: Roboto;
					font-weight: 400;
					font-size: 12px;
					line-height: 100%;
					letter-spacing: 4%;
				}

				button {
					width: 122px;
					height: 40px;
					background-color: #f6f7fb;
					border-radius: 26px;

					display: flex;
					justify-content: center;
					align-items: center;
					padding: 10px 20px;

					transition: 0.25s all;

					&:hover {
						scale: 1.03;
					}

					img {
						width: 17.5px;
						margin-right: 10px;
					}

					span {
						font-family: Roboto;
						font-weight: 500;
						font-size: 14px;
						line-height: 100%;
						letter-spacing: 2%;
						vertical-align: middle;
					}
				}
			}

			.email-login {
				width: 265px;
				height: 230px;
				span {
					color: #52555f;
					font-family: Roboto;
					font-weight: 400;
					font-size: 12px;
					line-height: 100%;
					letter-spacing: 4%;
				}

				.email-login-email {
					width: 265px;
					height: 76px;
					margin-bottom: 30px;
					margin-top: 20px;
					span {
						font-family: Roboto;
						font-weight: 400;
						font-size: 12px;
						line-height: 100%;
						letter-spacing: 4%;
						color: #000000;
					}

					input {
						width: 225px;
						border-radius: 30px;

						background-color: #f6f7fb;
						padding: 17px 20px;

						font-family: Roboto;
						font-weight: 400;
						font-size: 14px;
						line-height: 100%;
						letter-spacing: 4%;
						color: #a6abb9;
						margin-top: 10px;
					}
				}

				.email-login-password {
					width: 265px;
					height: 76px;
					span {
						font-family: Roboto;
						font-weight: 400;
						font-size: 12px;
						line-height: 100%;
						letter-spacing: 4%;
						color: #000000;
					}

					input {
						width: 225px;
						border-radius: 30px;

						background-color: #f6f7fb;
						padding: 17px 20px;

						font-family: Roboto;
						font-weight: 400;
						font-size: 14px;
						line-height: 100%;
						letter-spacing: 4%;
						color: #a6abb9;
						margin-top: 10px;
					}
				}
			}
		}

		.form-submit-container {
			width: 265px;
			height: 44px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 40px;

			.login-btn {
				width: 125px;
				height: 44px;
				border-radius: 16px;

				font-family: Roboto;
				font-weight: 700;
				font-size: 12px;
				line-height: 100%;
				letter-spacing: 2%;
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;

				color: #ffffff;

				padding: 12px 24px;

				background-color: #ff751d;
				box-shadow: 1px 3px 5px 0px #ff6b0859;

				transition: 0.25s all;

				&:hover {
					scale: 1.03;
				}
			}

			.register-btn {
				width: 125px;
				height: 44px;
				border-radius: 16px;

				font-family: Roboto;
				font-weight: 700;
				font-size: 12px;
				line-height: 100%;
				letter-spacing: 2%;
				text-align: center;
				vertical-align: middle;
				text-transform: uppercase;

				color: #52555f;

				padding: 12px 15px;

				background-color: #f5f6fb;
				box-shadow: 1px 3px 5px 0px #52555f26;

				transition: 0.25s all;

				&:hover {
					scale: 1.03;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.login-container {
		flex-direction: column;
		justify-content: unset;

		.login-title-container {
			margin: 166px 0 0 0;
		}

		.login-container-background {
			position: fixed;
			width: 718px;
			top: 76px;
			left: 10px;
		}

		.login-container-background-second {
			position: fixed;
			width: 198px;
			bottom: 56px;
			left: 103px;
		}

		.login-form-container {
			margin: 50px 0 192px 0;
			min-height: 535px;
		}
	}
}

@media only screen and (max-width: 320px) {
	.login-container {
		flex-direction: column;
		justify-content: unset;

		.login-title-container {
			margin: 166px 0 0 0;
		}

		.login-container-background {
			position: fixed;
			width: 718px;
			top: 76px;
			left: 10px;
		}

		.login-container-background-second {
			position: fixed;
			width: 198px;
			bottom: 56px;
			left: 103px;
		}

		.login-title-container {
			width: 242px;
			height: 87px;
			margin-top: 118px;

			h1 {
				font-size: 64px;
			}

			h3 {
				font-size: 13px;
				margin-left: 20px;
			}
		}

		.login-form-container {
			margin: 50px 0 192px 0;
		}

		.login-form-container {
			width: 300px;
			height: 525px;

			margin: 50px 0 70px 0;
			box-shadow: 5px 10px 20px 0px #aab2c566;

			.email-login {
				width: 253px;
				height: 182px;

				.email-login-email {
					width: 253px;
					height: 76px;

					input {
						width: 253px;
					}

					.email-login-password {
						width: 253px;
						height: 76px;
						input {
							width: 253px;
						}
					}
				}
			}
		}
	}
}
