.balance {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 44px;
  gap: 174px;

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 369px;
    height: 44px;
  }

  &__calculations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 185px;
    height: 44px;
    font-size: 12px;

    .calculations_button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 15px;
      height: 24px;
      width: 185px;
    }
  }
}

.span__balance {
  color: #52555f;
  padding-right: 21px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 44px;
  padding-right: 15px;

  input {
    width: 100%;
    height: 100%;
    padding-right: 45px;
    padding-left: 12px;
    font-size: 16px;
    border: 3px solid #fff;
    border-radius: 12px;
    background-color: #f5f6fb;
    box-sizing: border-box;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .currency {
    color: #52555f;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    pointer-events: none;
    font-size: 14px;
  }
}

.button {
  color: #52555f;
  font-size: 12px;
  text-transform: uppercase;
  width: 125px;
  height: 44px;
  border: 3px solid #fff;
  border-radius: 12px;
  background-color: #f5f6fb;
  &:hover {
    transition: background 0.5s;
    transition: color 0.5s;
    background: #ff751d;
    color: #fff;
  }
}
